:root {
  --text-color: ghostwhite;
  --gray-1: #191919;
  --gray-2: #262626;
  --fontsize-p: 1.3rem;
}

h2 {
  font-size: 1.5rem;
  margin: unset;
}

.container {
  display: grid;
}

div.main-card {
  display: grid;
  padding: 2% 2%;
  background-color: var(--gray-1);
  border-radius: 5px;
  margin: 3% 15%;
  height: 50%;
}

#container_login {
  box-sizing: content-box;
  margin-top: 2%;
}

#account_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1% 2%;
}

div.main-card-header {
  display: grid;
  justify-self: left;
  margin-bottom: 1%;
}

div.main-card-header h3 {
  text-align: left;
  flex-basis: 100%;
  display: grid;
  margin: unset;
  padding: unset;
}

div.main-card-header button.btn_card_head {
  padding: unset;
}

.btn_card_head a {
  position: relative;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  display: grid;
}

.btn_card_head {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 0px 70px;
  background-color: var(--gray-1);
  border: unset;
}


.btn_card_head a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.btn_card_head a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#login,
#new_account_btn {
  margin-left: 18%;
}

#create_btn {
  margin-bottom: 3%;
}

#login_btn,
#new_account_btn,
#create_btn {
  padding: 0.7em 1.3em;
  cursor: pointer;
  background: linear-gradient(90deg, #0776bb 0%, #002277 100%);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--text-color);
  border-radius: 50px;
  overflow: hidden;
  transition: 0.3s;
}

#login_btn:hover,
#new_account_btn:hover,
#create_btn {
  transition: 0.3s;
}

.background-bounce-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px #ffc222;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.background-bounce-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4c4c4c;
  border-radius: 50px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.background-bounce-right:hover,
.background-bounce-right:focus,
.background-bounce-right:active {

  color: #002277;
}

.background-bounce-right:hover:before,
.background-bounce-right:focus:before,
.background-bounce-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

div.login_itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.new_account {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img.icon_new_account {
  width: 10em;
  margin-left: 10em;
}

#new_account_head {
  display: flex;
  margin-left: 3em;
  margin-bottom: unset;
}

.paints {
  width: 90%;
  height: 90%;
}

/* Propriedades para todas as imagens utilizadas */
.all-images {
  border-radius: 5px;
  margin-top: 4%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Ajustando os elementos do card da página de compra */
.buy-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Ajustando o layout da página de compra */

.buy-card-description {
  display: grid;
  grid-template-areas: "description"
    "price";
}

#buy-text {
  grid-area: description;
  line-height: 1.8em;
  font-size: var(--fontsize-p);
  align-self: center;
  text-align: center;
  padding: 1em 1em;
}

#buy-price {
  grid-area: price;
  place-self: center center;
  text-align: center;
  border-top: 1px solid var(--text-color);
  padding: 1em 3em;
}

.cool-shadow {
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.2);
}

.higher-background {
  background-color: var(--gray-2);
  border-radius: 5px;
}

/* Ajustando o botão "comprar" */
#buy-button {
  position: relative;
  top: 0.4em;
  padding: 1em 3em;
}

#buy-image-container>h3 {
  margin-top: 0.9em;
}

/* Ajustando o tamanho da imagem da compra */
#buy-image {
  width: 90%;
  height: 70%;
  margin-top: unset;
}

div.card {
  display: grid;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--gray-2);
  border-radius: 10px !important;
}

div.card button {
  display: grid;
  border: unset;
  background-color: var(--gray-2);
}

div.card button:hover {
  box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.2);
}

div.card button a {
  text-decoration: none;
  border: unset;
  background-color: var(--gray-2);
  color: var(--text-color);
}

div.card_description {
  display: grid;
  align-items: end;
  width: 90%;
  height: 20%;
  font-size: 1em;
  padding: 0.2rem 0.5rem;
  margin: 0 auto;
}

div.container_content_cards {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10%;
}

div.card_description h3 {
  margin: 0;
}